/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */

/*.overlay {
  visibility: hidden !important;
  position: absolute !important;
  left: 0px !important;
  top: 0px !important;
  width: 100% !important;
  height: 100% !important;
  text-align: center !important;
  z-index: 1000 !important;
}

.overlay div {
  width: 300px !important;
  margin: 100px auto !important;
  background-color: #fff !important;
  border: 1px solid #000 !important;
  padding: 15px !important;
  text-align: center !important;
}
*/
#app-body{
  background-color: white !important;
}

.error, .alert, .notice, .success, .info{
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
}

.success{
  background: #e6efc2; 
  color: #264409;
  border-color: #c6d880;
}

body{
  /* background: #22572e !important; */
   background: #E9E9E9 !important; 
}

.well{
  padding: 10px !important;
  float: left !important;
  height: 100px !important;
  overflow: hidden;
  display: inline-block !important;
  white-space: nowrap !important;
}

/*#activity_dialog{
  padding: 10px !important;
  display: block !important;
}

#activity_dialog .well{
  width: 640px !important;
  height: 480px !important;
  overflow: auto !important;
}
*/
.well:hover{
  overflow: auto;
}

.activity_buttons{
  position: relative;
  padding-top: -10px;
  float: right;
}

.activity_item .activity_buttons .activity_button {
  visibility: hidden;
}

.activity_item:hover .activity_buttons .activity_button {
  visibility: visible;
}

h4, h6, .app-private, .well, .well p {
  color: black !important;
  background:  #FDFDA7 !important;
}

.green_activity, .green_activity p {
 color: black !important;
  background:  #FDFDA7 !important; 
}

.yellow_activity, .yellow_activity p {
 color: black !important;
  background: #FF7F00 !important; 
}

.red_activity, .red_activity p {
 color: black !important;
  background:  #FE5C5C !important; 
}

textarea{
  color: black !important;
  background: #EEEEEE !important;
}

.app-private{
   font-size: 11px !important;
}

.app-button{
  color: white !important;
  background: #0095DD !important;
}

.app-white, h4{
  color: black !important;
}

.well p{
/*  background:  #222222 !important;  */
  padding: 0em !important;
  border: 0em !important;
  word-wrap: break-work;
}

.well .dt{
  font-size: 11px !important;
}

.container{
  padding-bottom: 0em !important;  
}
/* Bootstrap specific styles */

div{
  border-color: light_blue !important;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body{
  padding-top: 10px;
}


/*
 * Global add-ons
 */

.sub-header{
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
/*  padding: 20px;*/
/*  float: left;*/
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.activity_header{
  background: white !important;
  border-bottom: #909090 solid thin;
}

/*#activity_search_bar{
  position: relative;
  float: right;
}*/